<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FreeSpire.PDFViewer" version="7.6.0" targetFramework="net47" />
  <package id="Microsoft.Office.Interop.Excel" version="15.0.4795.1001" targetFramework="net47" />
  <package id="Microsoft.Web.WebView2" version="1.0.2277.86" targetFramework="net47" />
  <package id="Stub.System.Data.SQLite.Core.NetFramework" version="1.0.118.0" targetFramework="net47" />
  <package id="System.Data.SQLite.Core" version="1.0.118.0" targetFramework="net47" />
</packages>